@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイルをここに追加 */
.car-image {
    width: 100%;
    height: 160px; /* 固定高さを設定 */
    object-fit: cover; /* 画像のアスペクト比を維持しつつコンテナに収める */
}

.container {
    padding: 20px;
}

.bg-car-light-gray {
    background-color: #676;
}
.bg-car-dark-gray {
    background-color: #735;
}
.text-car-accent-red {
    color: #176;
}
.bg-car-accent-red {
    background-color: #176;
}